<h3>Busqueda</h3>
<div class="input-group">
  <span class="input-group-addon">Buscar</span>
  <input id="filtrar" type="text" class="form-control" placeholder="Ingresa el lugar donde desea reservar">
</div>
 
<table class="table table-hover">
 <thead>
  <tr>
   <th>Codigo</th>
   <th>Nombre</th>
   <th>Direccion</th>
   <th>Precio x Hora</th>
   
  </tr>
  
  <tr>
   
     <td>001</td>
     <td>Pedro Ccora</td>
     <td>Av. La marina 3243</td>
     <td>S/5.00</td>
     
  </tr>
  
  <td>002</td>
  <td>Leonel Messi</td>
  <td>Av. Precursores 3322</td>
  <td>S/7.00</td>
  </tr>
  
  <td>003</td>
  <td>Paolo Guerrero</td>
  <td>Av. Insurgentes 1224</td>
  <td>S/8.00</td>
  </tr>
  
  
  <td>004</td>
  <td>Manuel Burga</td>
  <td>Av. La Paz 1122</td>
  <td>S/10.00</td>
  </tr>
  

  
 </thead>
 <tbody class="buscar">
    <h1>
        
    </h1> 
     
   Aqui los resultados de la busqueda
   <h1>
    </h1>
 </tbody>
</table>
<h1>
    
    
</h1>

<ul>
    <h5>Aqui algunos servicios adicionales : </h5>
    <li><input name="servicio_wifi" type="checkbox" value="wifi"/> WIFI </li>
    <li><input name="servicio_lavado" type="checkbox" value="lavado"/> Lavado de auto</li>
    <li><input name="servicio_camaras" type="checkbox" value="camaras"/> Camaras de seguridad</li>
    <li><input name="servicio_gps" type="checkbox" value="gps"/> Monitoreo satelital</li>
    <li><input name="servicio_techo" type="checkbox" value="techo"/> Cubierta contra lluvia y sol</li>
    <li><input name="servicio_valetparking" type="checkbox" value="valetparking"/> Valet Parking</li>
    
    
</ul>

