<h1>busqueda</h1>
<div class="input-group">
  <span class="input-group-addon">Buscar</span>
  <input id="filtrar" type="text" class="form-control" placeholder="Ingresa el lugar donde desea reservar">
</div>
 
<table class="table table-hover">
 <thead>
  <tr>
   <th>Nombre</th>
   <th>Direccion</th>
   <th>Precio</th>
  </tr>
 </thead>
 <tbody class="buscar">
   Aqui los resultados de la busqueda
 </tbody>
</table>

<ul>
    <li><input name="servicio_wifi" type="checkbox" value="wifi"/> WIFI </li>
    <li><input name="servicio_lavado" type="checkbox" value="lavado"/> Lavado de auto</li>
    <li><input name="servicio_camaras" type="checkbox" value="camaras"/> Camaras de seguridad</li>
    <li><input name="servicio_gps" type="checkbox" value="gps"/> Monitoreo satelital</li>
    <li><input name="servicio_techo" type="checkbox" value="techo"/> Cubierta contra lluvia y sol</li>
    <li><input name="servicio_valetparking" type="checkbox" value="valetparking"/> Valet Parking</li>

</ul>
