<h2>PREGUNTAS Y RESPUESTAS FRECUENTES</h2>

<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
  <!--  1  -->  
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingOne">
      <h4 class="panel-title">
        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          ¿Hay cargos adicionales en el sitio?
        </a>
      </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
      <div class="panel-body">
        Las tasas adicionales serán anotados en la sección de información debajo del mapa, y visible antes de reservar su reserva. Si no hay cargos especiales señalaron, no se le cobrará nada adicional. Esta es la condición de que no se exceda las horas asignadas para su reserva.
      </div>
    </div>
  </div>
  <!--  2  -->
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingTwo">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            ¿Se puede anular una reserva?
        </a>
      </h4>
    </div>
    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
      <div class="panel-body">
        INSTAPARKING honrará todos los reembolsos que se soliciten antes de la hora de inicio de la reserva. Que puede reembolsar reservas en su propia en forma de créditos Aparcamiento Panda o un reembolso de devolución de dinero. Basta con acceder a su cuenta y vaya a la sección "mis reservas" a la devolución por su cuenta. Los créditos nunca caducan y se aplicarán automáticamente a su próxima reserva. Un reembolso de devolución de dinero tarda 2-3 días laborales para aparecer de nuevo a su tarjeta.
      </div>
    </div>
  </div>
  <!--  3  -->
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingThree">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
            ¿Puedo reservar un lugar a otro?
        </a>
      </h4>
    </div>
    <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
      <div class="panel-body">
        ¡Absolutamente! Asegúrese de entrar en su descripción del vehículo. Cuando llega el correo de confirmación simplemente reenviar el correo electrónico junto con el ticket de confirmación adjunta. Sólo dar a nuestro equipo de soporte de una llamada al 0-800-20205 o por correo electrónico soporte@instaparking.com si necesita ayuda con eso.
      </div>
    </div>
  </div>
  <!--  4  -->
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingFour">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
          ¿Puedo hacer una reserva mensual de sólo un mes?
        </a>
      </h4>
    </div>
    <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
      <div class="panel-body">
        ¡Por supuesto! Sólo en contacto con nosotros enviando un correo electrónico soporte@instaparking.com, o llamando al 0-800-20205 y vamos a hacer una nota que no se refacturación al final del mes. Su reserva mensual expirará al final del primer mes.
      </div>
    </div>
  </div>
  <!--  5  -->
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingFive">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
          ¿Puedo canjear mi reserva sin servicio celular?
        </a>
      </h4>
    </div>
    <div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive">
      <div class="panel-body">
        ¡Por supuesto! Con el fin de hacer eso, sólo tiene que descargar el archivo pdf que se adjunta a su correo electrónico de confirmación en su teléfono inteligente o tableta.
      </div>
    </div>
  </div>
  <!--  6  -->
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingSix">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
            ¿Puedo reservar un lugar por teléfono?
        </a>
      </h4>
    </div>
    <div id="collapseSix" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSix">
      <div class="panel-body">
            ¡Absolutamente! Sólo nos dan una llamada al 0-800-20205, estaremos encantados de ayudarle!
      </div>
    </div>
  </div>
  <!--  7  -->
   <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingSeven">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
          ¿Puedo reservar más de una plaza de aparcamiento a la vez?
        </a>
      </h4>
    </div>
    <div id="collapseSeven" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSeven">
      <div class="panel-body">
        Para reservar varios puntos que tendrá que pasar por el proceso de la transacción una vez por cada punto que desea reservar. No temas, después de la primera reserva se realiza con su tarjeta de crédito y dirección de correo electrónico estará en el archivo y usted será capaz de reservar una plaza de aparcamiento con un solo clic del ratón.
      </div>
    </div>
  </div>
  <!--  8  -->
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingEigth">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseEigth" aria-expanded="false" aria-controls="collapseEigth">
            ¿Puedo reservar estacionamiento para discapacitados?
        </a>
      </h4>
    </div>
    <div id="collapseEigth" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingEigth">
      <div class="panel-body">
            Casi todos nuestros lugares de estacionamiento son accesibles para personas discapacitadas. Sin embargo, las leyes estatales y locales restringen la capacidad de reservar espacios para discapacitados individuales. Es raro que todos los puntos con discapacidad a ser llenados en un lugar determinado y nuestros clientes no suelen tener un problema.
      </div>
    </div>
  </div>
  <!--  9  -->
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingNine">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseNine" aria-expanded="false" aria-controls="collapseNine">
          ¿Puedo vender mis pases en otro sitio web?
        </a>
      </h4>
    </div>
    <div id="collapseNine" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingNine">
      <div class="panel-body">
        Los pases de estacionamiento de InstaParking no se pueden vender en otros sitios web. Estos pases serán negados por los propietarios de ubicación.
      </div>
    </div>
  </div>
  <!--  10  -->
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingTen">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTen" aria-expanded="false" aria-controls="collapseTen">
          ¿Puedo mostrar mi pase de estacionamiento en mi teléfono?
        </a>
      </h4>
    </div>
    <div id="collapseTen" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTen">
      <div class="panel-body">
        Sí, pero sólo en ciertos lugares. Usted será capaz de determinar qué ubicaciones aceptar confirmaciones móviles haciendo clic en la pestaña "Cómo canjear" debajo de cada anuncio. Si está utilizando su teléfono para escanear el código QR en su billete de confirmación, asegúrese de apagar el brillo de su teléfono todo el camino hacia arriba y mantenga el teléfono 2-3 pulgadas de distancia del escáner.
      </div>
    </div>
  </div>
  <!--  11  -->
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingEleven">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseEleven" aria-expanded="false" aria-controls="collapseEleven">
          ¿Tengo que entrar en una descripción del vehículo?
        </a>
      </h4>
    </div>
    <div id="collapseEleven" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingEleven">
      <div class="panel-body">
        ¿Qué pasa si no lo saben? Si no está seguro de que su descripción del vehículo en el momento usted está reservando su reserva, introduce "Alquiler" o "TBD" como la descripción del vehículo. Entonces, tan pronto como usted sabe la descripción del vehículo o bien se puede cambiar la descripción del mismo, acceda a su cuenta y hacer clic en "Mis reservas" en el menú desplegable debajo de su nombre. Haga clic en "Cambiar Vehículo" al lado de la reserva correspondiente e introducir la nueva descripción del vehículo. También nos puede dar una llamada al 1-800-232-6415, estaremos encantados de cambiarlo para usted.
      </div>
    </div>
  </div>
  <!--  12  -->
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingTwelve">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwelve" aria-expanded="false" aria-controls="collapseTwelve">
          ¿Tengo que tener la aplicación para utilizar la confirmación de mi móvil?
        </a>
      </h4>
    </div>
    <div id="collapseTwelve" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwelve">
      <div class="panel-body">
        Usted no está obligado a utilizar la aplicación, pero puede que le resulte más fácil. Si no desea utilizarlo, sólo tiene que descargar el archivo pdf que usted por correo electrónico en su teléfono inteligente o tableta, o tire hacia arriba en su navegador web móvil.
      </div>
    </div>
  </div>
  <!--  13  -->
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingThirteen">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThirteen" aria-expanded="false" aria-controls="collapseThirteen">
          ¿Tengo que hacer una nueva reserva cada mes?
        </a>
      </h4>
    </div>
    <div id="collapseThirteen" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThirteen">
      <div class="panel-body">
        No lo harás. A principios del mes siguiente, se le facturará de forma automática para el próximo mes.
      </div>
    </div>
  </div>
  <!--  14  -->
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingFourteen">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFourteen" aria-expanded="false" aria-controls="collapseFourteen">
          ¿Es necesario crear una cuenta con el fin de hacer una reserva?
        </a>
      </h4>
    </div>
    <div id="collapseFourteen" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFourteen">
      <div class="panel-body">
        Puede hacer una reserva sin registrarse en una cuenta en primer lugar. Una vez que haya reservado su primera reserva, una cuenta se creará automáticamente utilizando la dirección de correo electrónico que usted enumeró en su reserva inicial. Usted recibirá un correo electrónico que le invita a crear una contraseña para su cuenta, y ya está bueno para ir!
      </div>
    </div>
  </div>
  <!--  15  -->
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingFifteen">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFifteen" aria-expanded="false" aria-controls="collapseFifteen">
          ¿Se toma reservas para autobuses y vehículos recreativos?
        </a>
      </h4>
    </div>
    <div id="collapseFifteen" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFifteen">
      <div class="panel-body">
        ¡Lo hacemos! Sin embargo, las reservas para autobuses y vehículos recreativos - y otros vehículos similares que tendrían múltiples espacios - nos obligan a estar en contacto con los operadores de estacionamiento para asegurar el espacio. Si usted está interesado en reservar, puede llamar al 800-232-6415, correo electrónico soporte@instaparking.com, o utilizar la opción de chat en la parte inferior de la pantalla!
      </div>
    </div>
  </div>
  <!--  16  -->
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingSixteen">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseSixteen" aria-expanded="false" aria-controls="collapseSixteen">
          ¿Se vence el crédito cuenta?
        </a>
      </h4>
    </div>
    <div id="collapseSixteen" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSixteen">
      <div class="panel-body">
        Cuenta de crédito nunca expira, y se puede utilizar para reservar una plaza de aparcamiento en cualquiera de nuestras ubicaciones en más de 40 ciudades en todo el país. Si ha adquirido un crédito de otra compañía, puede haber términos específicos que tienen que canjear el crédito por. Por ejemplo, un crédito Groupon podría expirar y se ha indicado en su acuerdo.
      </div>
    </div>
  </div>
  
  <!-- 17  -->
   <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingSeventeen">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseSeventeen" aria-expanded="false" aria-controls="collapseSeventeen">
          ¿Cómo se cambia el marco de tiempo de mi reserva?
        </a>
      </h4>
    </div>
    <div id="collapseSeventeen" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSeventeen">
      <div class="panel-body">
        Se puede ajustar el marco de tiempo de su reserva mediante el cambio de las fechas y horas en nuestro widget de calendario. Si usted está en una página de resultados de búsqueda con múltiples lugares de estacionamiento en la lista, el widget estará en la parte superior de la página, sobre todo, de los listados. Si se encuentra en la página de un lugar en particular, busque el enlace "Cambiar" junto a "Detalles de la reserva".
      </div>
    </div>
  </div>
  
    <!--  18  -->
   <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingEigthteen">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseEigthteen" aria-expanded="false" aria-controls="collapseEigthteen">
          ¿Tiene propio aparcamiento Panda u operar estos lugares de estacionamiento?
        </a>
      </h4>
    </div>
    <div id="collapseEigthteen" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingEigthteen">
      <div class="panel-body">
        INSTAPARKING, no posee ni opera ninguna de las posiciones de estacionamiento que figuran en nuestro sitio. Estamos asociados con estos lugares con el fin de ofrecer Reserva de aparcamiento garantizadas. Mientras que algunos sitios pueden tener señalización Aparcamiento Panda, la mayoría no.
      </div>
    </div>
  </div>
  
    <!--  19  -->
   <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingNineteen">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseNineteen" aria-expanded="false" aria-controls="collapseNineteen">
          Garaje cierra 1 hora después de eventos, que quiere decir eso?
        </a>
      </h4>
    </div>
    <div id="collapseNineteen" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingNineteen">
      <div class="panel-body">
        Muchos lugares sólo trabajan con nosotros para el estacionamiento evento. Cuando un lugar está catalogado como tales, tienen un período de gracia al final del evento durante el cual usted es capaz de salir del montón. Al final de este período, el lote o en el garaje lo más probable es cerrada. En estas circunstancias, se aconseja que deje inmediatamente después del cierre de su evento.
      </div>
    </div>
  </div>
  
    <!--  20  -->
   <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headinTwenty">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwenty" aria-expanded="false" aria-controls="collapseTwenty">
          ¿Cómo accedo a Mis reservaciones?
        </a>
      </h4>
    </div>
    <div id="collapseTwenty" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headinTwenty">
      <div class="panel-body">
        Una vez que haya iniciado sesión en su cuenta, simplemente tire hacia arriba el menú de aplicaciones. Seleccione "reservas" para ver todas las pasadas y futuras reservas.
      </div>
    </div>
  </div>
  
    <!--  21  -->
   <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headinTwentyOne">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwentyOne" aria-expanded="false" aria-controls="collapseTwentyOne">
          ¿Cómo elimino mi cuenta?
        </a>
      </h4>
    </div>
    <div id="collapseTwentyOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headinTwentyOne">
      <div class="panel-body">
        Póngase en contacto con nosotros por correo electrónico a suporte@instaparking.com, o llámenos al 0-800-20205. Vamos a ser capaces de eliminar su información.
      </div>
    </div>
  </div>
  
    <!--  22  -->
   <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headinTwentyTwo">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwentyTwo" aria-expanded="false" aria-controls="collapseTwentyTwo">
          ¿Cómo puedo encontrar un lugar de estacionamiento?
        </a>
      </h4>
    </div>
    <div id="collapseTwentyTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headinTwentyTwo">
      <div class="panel-body">
        Simplemente escriba la dirección o el nombre del lugar que usted está dirigiendo a en la barra de búsqueda para encontrar aparcamiento disponibles alrededor de esa ubicación. Como alternativa, se desplaza hacia abajo a la sección de "ciudades que aparecen" en nuestra página web y hacer clic en la ciudad para el que está buscando aparcamiento. Desde esa página usted será capaz de buscar por evento, el barrio, el lugar, o buscar estacionamiento del aeropuerto.
      </div>
    </div>
  </div>
  
    <!-- 23   -->
   <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headinTwentyThree">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwentyThree" aria-expanded="false" aria-controls="collapseTwentyThree">
          ¿Cómo puedo encontrar estacionamiento mensual?
        </a>
      </h4>
    </div>
    <div id="collapseTwentyThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headinTwentyThree">
      <div class="panel-body">
        Para encontrar estacionamiento mensual, simplemente introduzca la dirección que desea encontrar aparcamiento en los alrededores y la fecha en que desea iniciar estacionamiento y haga clic en el botón "Buscar". Cuando aparezcan los resultados, haga clic en el enlace directamente debajo de la barra de direcciones con la etiqueta "Buscando estacionamiento mensual? Haga clic aquí". Esto mostrará toda estacionamiento mensual disponible en la zona junto con el precio y la distancia desde la ubicación deseada.
      </div>
    </div>
  </div>
  
    <!--  24  -->
   <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headinTwentyFour">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwentyFour" aria-expanded="false" aria-controls="collapseTwentyFour">
          ¿Cómo encuentro mi lugar de estacionamiento?
        </a>
      </h4>
    </div>
    <div id="collapseTwentyFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headinTwentyFour">
      <div class="panel-body">
        Cada vez que haga una reserva de estacionamiento a través de nuestro servicio que le será enviado un billete de confirmación con una dirección, una imagen de la ubicación, y las instrucciones sobre cómo acceder a la gran cantidad debería haber entradas alternativas o múltiples.        
      </div>
    </div>
  </div>
  
    <!--  25  -->
   <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headinTwentyFive">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwentyFive" aria-expanded="false" aria-controls="collapseTwentyFive">
          ¿Cómo puedo encontrar aparcamiento para un evento?
        </a>
      </h4>
    </div>
    <div id="collapseTwentyFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headinTwentyFive">
      <div class="panel-body">
        Simplemente escriba la dirección o el nombre del lugar que usted está dirigiendo a en la barra de búsqueda para encontrar aparcamiento disponibles alrededor de esa ubicación. Como alternativa, se desplaza hacia abajo a la sección de "ciudades que aparecen" en nuestra página web y hacer clic en la ciudad para el que está buscando aparcamiento. Desde esa página usted será capaz de buscar por evento, el barrio, el lugar, o buscar estacionamiento del aeropuerto.
      </div>
    </div>
  </div>
  
    <!--  26  -->
   <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headinTwentysix">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwentySix" aria-expanded="false" aria-controls="collapseTwentySix">
          ¿Cómo sé si mi vehículo se ajusta a su garaje?
        </a>
      </h4>
    </div>
    <div id="collapseTwentySix" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headinTwentysix">
      <div class="panel-body">
        La información de la restricción de altura para vehículos se puede encontrar en cada listado de aparcamiento en nuestra página web. Si tiene alguna pregunta sobre esto, por favor, póngase en contacto con nosotros! Usted nos puede llamar al 0-800-20205, correo electrónico soporte@instaparking.com, o utilizar la opción de chat en la parte inferior de la pantalla!
      </div>
    </div>
  </div>
  
    <!-- 27   -->
   <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headinTwentySeven">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwentySeven" aria-expanded="false" aria-controls="collapseTwentySeven">
          ¿Cómo sé si el aparcamiento está disponible durante toda la noche?
        </a>
      </h4>
    </div>
    <div id="collapseTwentySeven" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headinTwentySeven">
      <div class="panel-body">
        La forma más sencilla de comprobar si el aparcamiento durante la noche se permite es fijar las fechas para reflejar una reserva de dos días. Una vez que busca en un reserva de dos días, sólo se mostrarán las ubicaciones que permiten estacionamiento durante la noche. Si el sitio le permite hacer una reserva de varios días, ya sabes se permite estacionamiento durante la noche en ese lugar. Además, puede buscar ubicaciones que permiten estacionamiento durante la noche buscando el icono azul con una luna sobre un coche debajo de cada anuncio.
      </div>
    </div>
  </div>
  
    <!-- 28   -->
   <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headinTwentyEight">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwentyEight" aria-expanded="false" aria-controls="collapseTwentyEight">
          ¿Cómo puedo saber las horas que puedo aparcar?
        </a>
      </h4>
    </div>
    <div id="collapseTwentyEight" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headinTwentyEight">
      <div class="panel-body">
        Las horas de funcionamiento se enumeran directamente debajo de la imagen cuando se selecciona una ubicación. Simplemente haga clic en la pestaña "Horario de atención" debajo de la imagen, entre la pestaña "Detalles" y la pestaña "Reembolso". Si no hay ninguna ficha "Horas de la operación", entonces la ubicación está abierta 24/7. Tiene que llegar y salir del lugar durante las horas de funcionamiento publicado. Si no llegan y salen durante las horas de operación, no habrá un encargado de aceptar su reserva, y usted tendrá que pagar por el aparcamiento en el lugar.
      </div>
    </div>
  </div>
  
    <!--  29  -->
   <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headinTwentyNine">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwentyNine" aria-expanded="false" aria-controls="collapseTwentyNine">
          ¿Cómo ingreso si no vuelvo a configurar una contraseña?
        </a>
      </h4>
    </div>
    <div id="collapseTwentyNine" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headinTwentyNine">
      <div class="panel-body">
        Siempre que se hace una reserva, se crea una cuenta con esa dirección de correo electrónico. Para acceder a esa cuenta, introduzca su dirección de correo electrónico en la página de inicio de sesión y haga clic en "Cambiar contraseña". Esto enviará un correo electrónico automático con una contraseña temporal que le permitirá iniciar sesión en el sitio y restablecer su contraseña a lo que usted elija.
      </div>
    </div>
  </div>
  
    <!--  30  -->
   <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingThirty">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThirty" aria-expanded="false" aria-controls="collapseThirty">
          ¿Cómo pago por el aparcamiento? ¿Tengo que pagar por adelantado?
        </a>
      </h4>
    </div>
    <div id="collapseThirty" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThirty">
      <div class="panel-body">
        La reserva de un reserva de aparcamiento a través INSTAPARKING se requiere pagar por adelantado de su viaje o evento. Una vez que haya determinado la ubicación que desea reservar, asegúrese de que los tiempos que ha seleccionado son correctas e introduzca su pago e información de contacto. Su transacción será procesada y se le llevará a una página de confirmación donde puede ver su reserva. Su billete de confirmación también será enviado por correo electrónico a usted inmediatamente. INSTAPARKING acepta la mayoría de las tarjetas de crédito y los códigos de Groupon como formas de pago.
      </div>
    </div>
  </div>
  
    <!--  31  -->
   <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingThirtyOne">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThirtyOne" aria-expanded="false" aria-controls="collapseThirtyOne">
          ¿Cómo demuestro ya he pagado por el aparcamiento?
        </a>
      </h4>
    </div>
    <div id="collapseThirtyOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThirtyOne">
      <div class="panel-body">
        Una vez que reservar una reserva de estacionamiento a través Aparcamiento Panda, te enviaremos un correo electrónico de confirmación con un pase de estacionamiento que se le atribuye. Simplemente imprima dicha fijación o tire hacia arriba en su teléfono inteligente y mostrar al encargado del aparcamiento cuando llegue a la ubicación. Si ha reservado una reserva en una gran cantidad de superficie abierta sin vigilancia, por favor asegúrese de imprimir su correo electrónico de confirmación y mostrarlo en su tablero de instrumentos.
      </div>
    </div>
  </div>
  
    <!--  32  -->
   <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingThirtyTwo">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThirtyTwo" aria-expanded="false" aria-controls="collapseThirtyTwo">
          ¿Cómo puedo restablecer mi contraseña?
        </a>
      </h4>
    </div>
    <div id="collapseThirtyTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThirtyTwo">
      <div class="panel-body">
          Solo tienes que introducir su dirección de correo electrónico en la página de inicio de sesión y haga clic en "Cambiar contraseña". Esto enviará un correo electrónico automático con una contraseña temporal que le permitirá iniciar sesión en el sitio y restablecer su contraseña a lo que usted elija.
      </div>
    </div>
  </div>

<!--  33  -->
   <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingThirtyThree">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThirtyThree" aria-expanded="false" aria-controls="collapseThirtyThree">
          ¿Cómo utilizo mi reserva INSTAPARKING?
        </a>
      </h4>
    </div>
    <div id="collapseThirtyThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThirtyThree">
      <div class="panel-body">
          Una vez que reservar una reserva de estacionamiento a través INSTAPARKING, te enviaremos un correo electrónico de confirmación con un pase de estacionamiento que se le atribuye. Simplemente imprima dicha fijación o tire hacia arriba en su teléfono inteligente y mostrar al encargado del aparcamiento cuando llegue a la ubicación. Si ha reservado una reserva en una gran cantidad de superficie abierta sin vigilancia, por favor asegúrese de imprimir su correo electrónico de confirmación y mostrarlo en su tablero de instrumentos.
      </div>
    </div>
  </div>
  
  <!--  34  -->
   <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingThirtyFour">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThirtyFour" aria-expanded="false" aria-controls="collapseThirtyFour">
          ¿Cómo funciona el sistema de referencia "invitar a amigos"?
        </a>
      </h4>
    </div>
    <div id="collapseThirtyFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThirtyFour">
      <div class="panel-body">
          El sistema de referencia de estacionamiento INSTAPARKING le permite acumular créditos mediante el envío de un código de invitación a sus amigos. Sus amigos recibirán un descuento de $ 5 en su primera reserva de INSTAPARKING introduciendo su código de invitación. Además, recibirá un crédito de $ 5 por cada amigo que se utiliza su código de invitación. Tenga en cuenta que sus amigos deben ser clientes por primera vez para que el código para trabajar para ellos invitar. Además, si gastan $ 5.00 o más (no incluyendo el código de descuento), recibirá un crédito de $ 5, que se añadirá automáticamente a su cuenta.
      </div>
    </div>
  </div>
  
  <!--  35  -->
   <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingThirtyFive">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThirtFive" aria-expanded="false" aria-controls="collapseThirtFive">
          ¿Cómo es la distancia calculada a mi destino? ¿Es esta la distancia a pie? 
        </a>
      </h4>
    </div>
    <div id="collapseThirtFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThirtyFive">
      <div class="panel-body">
          La información de ubicación y distancias se calcula utilizando la información de Google Maps. Es una medida general de la distancia, y puede no reflejar el tiempo real o caminar distancia.
      </div>
    </div>
  </div>
  
  <!--  36  -->
   <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingThirtySix">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThirtySix" aria-expanded="false" aria-controls="collapseThirtySix">
          ¿Cuánto tiempo pasará antes de que pueda comenzar a utilizar mi reserva mensual?
        </a>
      </h4>
    </div>
    <div id="collapseThirtySix" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThirtySix">
      <div class="panel-body">
          Le pedimos que espere 48 horas para establecer una reserva mensual. Compruebe la ficha "Cómo canjear 'bajo el mapa de la ubicación elegida para obtener información específica.
      </div>
    </div>
  </div>
  
  <!--  37  -->
   <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingThirtySeven">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThirtySeven" aria-expanded="false" aria-controls="collapseThirtySeven">
          He comprado un Groupon para una cantidad fija en dólares. ¿Cómo puedo utilizar esto para hacer una reserva?
        </a>
      </h4>
    </div>
    <div id="collapseThirtySeven" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThirtySeven">
      <div class="panel-body">
          El primer paso para utilizar su Groupon es la creación de una cuenta de INSTAPARKING aquí. Una vez que hayas hecho esto, puede seguir este enlace para ser llevado a la página de créditos. Ingrese el código que ha recibido de Groupon y el golpe se aplica!
      </div>
    </div>
  </div>
  
  <!--  38  -->
   <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingThirtyEight">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThirtyEight" aria-expanded="false" aria-controls="collapseThirtyEight">
          He comprado un Groupon para un descuento específico por ciento. ¿Cómo puedo utilizar esto para hacer una reserva.
        </a>
      </h4>
    </div>
    <div id="collapseThirtyEight" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThirtyEight">
      <div class="panel-body">
          Cuando esté listo para finalizar su reserva, encontrar el enlace a "Canjear código de promoción". Una ventana pop-up para que introduzca el código de cupón que se le envió desde Groupon. Introducir el código y haga clic en el botón marcado 'Aplicar'. El código se aplicará, y mostrar cualquier cantidad restante es posible que tenga que pagar
      </div>
    </div>
  </div>
  
  <!--  39  -->
   <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingThirtyNine">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThirtyNine" aria-expanded="false" aria-controls="collapseThirtyNine">
          He comprado un Groupon para estacionamiento del aeropuerto. ¿Cómo puedo utilizar esto para hacer una reserva?
        </a>
      </h4>
    </div>
    <div id="collapseThirtyNine" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThirtyNine">
      <div class="panel-body">
          Cuando esté listo para finalizar su reserva, encontrar el enlace a "Canjear código de promoción". Una ventana pop-up para que introduzca el código de cupón que se le envió desde Groupon. Introducir el código y haga clic en el botón marcado 'Aplicar'. El código se aplicará, y mostrar cualquier cantidad restante es posible que tenga que pagar.
      </div>
    </div>
  </div>
  
  <!--  40  -->
   <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingForty">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseForty" aria-expanded="false" aria-controls="collapseForty">
          No deseo recibir correos electrónicos. ¿Puedo cancelar la suscripción a una lista de correo?
        </a>
      </h4>
    </div>
    <div id="collapseForty" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingForty">
      <div class="panel-body">
          ¡Por supuesto! Póngase en contacto con nosotros por correo electrónico a soporte@instaparking.com, o llámenos al 0-800-20205. Nos aseguraremos de que usted no recibe mensajes en el futuro que no desea.
      </div>
    </div>
  </div>
  
  <!--  41  -->
   <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingFortyOne">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFortyOne" aria-expanded="false" aria-controls="collapseFortyOne">
          He invitado a un amigo y que usaba mi código o enlace. Por qué no he recibido crédito?
        </a>
      </h4>
    </div>
    <div id="collapseFortyOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFortyOne">
      <div class="panel-body">
          Soporte por correo electrónico a soporte@instaparking.com, o llamando 0-800-20205 en contacto. Asegúrese de que conoce la dirección de correo electrónico del amigo a quien se ha referido. Estaremos en condiciones de confirmar y darle sus créditos.
      </div>
    </div>
  </div>
  
  <!--  42  -->
   <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingFortyTwo">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFortyTwo" aria-expanded="false" aria-controls="collapseFortyTwo">
         Es mi lugar realmente garantizada?
        </a>
      </h4>
    </div>
    <div id="collapseFortyTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFortyTwo">
      <div class="panel-body">
          ¡Sí lo es! Incluso si una ubicación se marca completa para hacer subir los clientes, su reserva INSTAPARKING le garantiza un espacio. Acaba de obtener la atención de un asistente para ayudarle! Panda socios de estacionamiento con conductores de grúas para monitorear nuestros desatendidas mucha superficie abierta de descripción del vehículo. Las grúas estarán patrullando la zona y se asegurará de que un lugar está abierto para nuestros clientes. Si se llega a uno de estos lugares para encontrar el aparcamiento lleno, simplemente nos dan una llamada y nos aseguraremos de que un punto se abre para usted inmediatamente.
      </div>
    </div>
  </div>
  
  <!--  43  -->
   <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingFortyThree">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFortyThree" aria-expanded="false" aria-controls="collapseFortyThree">
          Es el precio cotizado una tarifa por hora o una tarifa plana?
        </a>
      </h4>
    </div>
    <div id="collapseFortyThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFortyThree">
      <div class="panel-body">
          El precio que se ve será una tarifa plana que cubre el costo de la extensión de su reserva.
      </div>
    </div>
  </div>
  
  
  
</div>