<p style = "color:blue" align = "center"> Gracias!!</p>

        <div class="center2">
            <%= image_tag("logo_mail.png", :class => "logo_mail", :alt => "Gracias") %>
        </div>

        <div class="center">
          <%= link_to '<button type="button">Continua</button>'.html_safe, root_path %>
        </div>
        
    <p style = "color:blue">Tu mensaje a sido recibido.</p>
        
       
        
  