    
    <div class="pp1">
          Gracias!
        </div>

        <div class="center2">
            <%= image_tag("logo_mail.png", :class => "logo_mail", :alt => "Gracias") %>
        </div>

        <div class="center">
          <%= link_to '<button type="button">Continuar</button>'.html_safe, root_path %>
        </div>
        
    <div class="pp2">Muy pronto estaremos en contacto contigo.</div>
        
       
        
  