<h1>TERMINOS Y CONDICIONES</h1>
<div class="content-terms" style="text-align:justify;"> 
    <p>En el estacionamiento de INSTAPARKING estamos encantados de ofrecerte la más fácil, conveniente y rentable manera de alquilar su exceso de estacionamiento o de encontrar y alquilar de una manera fácil una plaza de estacionamiento que es conveniente para Ud. Somos una sede neutral: ayudamos a los usuarios encontrar entre sí para realizar transacciones. Si encuentra un espacio cómodo y desea alquilarlo, se contacta con el propietario del espacio. La operación se realice entre los dos. (Tomamos un pequeño corte con el fin de hacer que los servicios esten disponibles para usted.) Proporcionamos la plataforma tecnológica para que esto ocurra. Estamos muy contentos de que usted utilice <a href="http://www.instaparking.com">www.parkingpanda.com </a>(el <u>"Sitio"</u> ), y los productos, servicios, características, contenido o aplicaciones ofrecidos por nosotros (los <u>"Servicios"</u>). Estos términos jurídicamente vinculante de servicio (colectivamente con nuestra política de privacidad <a href="privacy-policy">www.parkingpanda.com/privacy-policy</a> y DMCA Política de copyright  <a href="http://www.ParkingPanda.com/DMCA.html">www.ParkingPanda.com/DMCA.html</a>, los "Términos de Servicio") guían su uso y disfrute del Sitio . Por favor leerlos de manera que todos estamos en el mismo espacio :)</p>
    <p>
        <em>1. Los fundamentos. </em>
    </p>
    <ol type="a">
        <li style="align:justif"  >Si se registra para o utilizar los servicios de cualquier manera, usted está de acuerdo con estas Condiciones de servicio y todas las demás reglas y políticas que fijamos de vez en cuando.</li>
        <li>Algunos de nuestros servicios tienen reglas especiales adicionales y políticas, como el [] contrato de alquiler que se celebra entre el propietario y el inquilino plaza de aparcamiento. Todos los términos y condiciones entre un inquilino y propietario plaza de aparcamiento están contenidas en estas Condiciones de servicio. Usted está obligado por cualquiera y todos los términos adicionales.</li>
        <li>Estas Condiciones del servicio se aplican a todos los usuarios de los servicios - no importa cómo acceder o utilizar los Servicios, a través de Internet, su dispositivo móvil o cualquier otro método.</li>
        <li>Si no se utiliza este Sitio de acuerdo con las siguientes condiciones de uso puede estar sujeto a severas sanciones civiles y penales. (Sí, esto es un asunto serio.)</li>
    </ol>
    <p>
        <em>2.	La elegibilidad. </em>
        Usted manifiesta y garantiza (también conocido como "promesa" en la jerga legal) que son al menos la edad suficiente para conducir legalmente en su estado. (Duh! Realmente no estaría buscando una plaza de aparcamiento si no está conduciendo, ¿verdad? Bueno, tal vez si usted es el pasajero ....) De lo contrario, usted no está autorizado a utilizar el servicio. Período. Nos reservamos el derecho a negarse a ofrecer los servicios a cualquier persona o entidad y cambiar los criterios de elegibilidad en cualquier momento. Si usted vive o acceder a los servicios en alguna parte y está prohibido por la legislación local, le toca a usted sigue las leyes locales. (El Internet está disponible para todo el mundo, y realmente no se puede esperar que saber todo.) Los servicios se ofrecen únicamente para su uso; no para terceros.
    </p>
    
    <p>
        <em>3.	Registro. </em>
        Para disfrutar de los servicios del, registre su "Cuenta" más. [Lo más probable es que pueda tener un perfil en el servicio si usted es un usuario de Facebook, Twitter, Foursquare o LinkedIn.] Cuando acepta su perfil o en caso contrario hacer una cuenta, debe proporcionar información precisa y completa y mantener su información de cuenta actualizado. No se le permite hacer cualquiera de las siguientes: (i) seleccionar o utilizar como nombre de usuario un nombre de otra persona con la intención de pasar por esa persona; (ii) utilizar un nombre de usuario como un nombre sujeto a los derechos de una persona que no sea usted sin la debida autorización; (iii) utilizar, como un nombre de usuario, un nombre que es de otra manera ofensiva, vulgar u obsceno. Sea un amigo y tomar la responsabilidad por no utilizar información de cuenta o registro de otra persona para los servicios sin permiso, o publicar, distribuir o información posterior de acceso a su cuenta. Nos debe notificar inmediatamente de cualquier violación de seguridad o uso no autorizado de su cuenta. Usted puede eliminar su cuenta poniéndose en contacto con nosotros oa través de la configuración de la cuenta.
    </p>
    <p>
        <em>4.	¿Cómo trabaja INSTAPARKING? </em>Es bastante simple de resolver sus necesidades de estacionamiento a corto plazo. 
    </p>
    
    <table>
        <tr>
            <td class="tos-table-header">Plaza de estacionamiento propietario</td>
            <td class="tos-table-header">Plaza de estacionamiento arrendatario</td>
        </tr>
        <tr>
            <td>La lista y describir la franquicia de su plaza de aparcamiento </td>
            <td>Examine la página web o utilizar la aplicación móvil para localizar un espacio</td>
        </tr>
        <tr>
            <td>Ajuste la fecha, la hora, la duración de las condiciones del alquiler y de pago.</td>
            <td>Seleccione una plaza de aparcamiento.</td>
        </tr>
        <tr>
            <td>Establecer el precio del alquiler.</td>
            <td>Contacta con el propietario.</td>
        </tr>
        <tr>
            <td>Enviar un mensaje de texto / correo electrónico confirmando al arrendatario del alquiler.</td>
            <td>Reconocer la aceptación de las condiciones de alquiler.</td>
        </tr>
        <tr>
            <td>Aceptar el pago. (Podemos pagar con cheque, PayPal o ACH a su cuenta bancaria).</td>
            <td>Pagar al propietario plaza de aparcamiento a través de PayPal o tarjeta de crédito</td>
        </tr>
        <tr>
            <td>Disfrutar de su inquilino!</td>
            <td>Disfrutar de su plaza de aparcamiento!</td>
        </tr>
        <tr>
            <td>pagarnos la comisión %.</td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>Proporcionar información en línea.</td>
            <td>Proporcionar información en línea.</td>
        </tr>
        <tr>
            <td>Usted es responsable de todos los impuestos.</td>
            <td>Si los impuestos de uso se aplican a usted, usted es responsable.</td>
        </tr>
        <tr>
            <td>Repetir</td>
            <td>Repetir</td>
        </tr>
    </table>
    <!--xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx-->
    <p>Remember: as a renter, you MUST abide by the rules set by the parking space owner. For example: if your rental is just for 2 hours, then remove your car in 2 hours. Otherwise, the parking space owner may keep charging you in accordance with the terms of your agreement or your vehicle may be towed at your expense. </p>
    <p>
        <em>5.	Parking Panda Etiquette: </em>
    </p>
    <ol type="a">
        <li>Owners:</li>
        <ol type="i">
            <li>You cannot discriminate against prospective renters on the basis of race, color, religion, creed, sexual orientation, disability, age, or national origin. (Sorry, no “Porsche-only” policies, either.) </li>
            <li>Describe your parking space size restrictions carefully to avoid vehicle and property damage.  (Common sense.)</li>
            <li>Do not adjust the terms at the last minute. </li>
            <li>Do not lie about anything related to the Services. </li>
            <li>Do not cause any damage to the parking space renter’s vehicle. If you do, are you are solely and completely responsible for it. </li>
            <li>If a person overstays his/her rental period, you can charge them based upon the rates originally set, or you can have them towed at their expense.   </li>
            <li>You must keep your Personal Information (as defined in the Privacy Policy) updated AT ALL TIMES. </li>
            <li>We will keep repeating ourselves: if you violate any of these Terms of Service, we can kick you off the Site. Or, in parking speak, you get “booted and towed”.</li>
        </ol>
    </ol>
    <ol type="a">
        <li>Renters:</li>
        <ol type="i">
            <li>Do not cause any damage to the parking space, owner’s property or the surrounding area. If you do, you are solely and completely responsible for it. </li>
            <li>Comply with the time and parking guidelines set by the parking space owner. </li>
            <li>If you overstay your rental period, the parking space owner may have your car towed at your expense. (Read that again: <u>your expense</u>.) </li>
            <li>You must keep your contact and payment information current at all times. </li>
            <li>Do not lie about anything related to the Services. </li>
            <li>We will keep repeating ourselves: if you violate any of these Terms of Service, we can kick you off the Site. Or, in parking speak, you get “booted and towed”. (Just in case you think we accidentally repeated ourselves, this applies to you, too!)</li>
        </ol>
    </ol>
    <p>
        <em>6.	Stuff on the Service. </em>
        <ol type="a">
            <li><em>What is it? </em>We know it as "Content", which are things like rental space photos and information, location information, videos, audio clips, written posts and comments, information, data, text, photographs, software, scripts, graphics, and interactive features generated, provided, or otherwise made accessible on or through the Services. Content can be stuff posted by us, third parties, you or other users.</li>
            <li><em>User Content. </em>All Content that is added, created, uploaded, submitted, distributed, or posted to the Services by you or other users is called "User Content". Some User Content is publicly posted or privately transmitted. Either way, User Content is the sole responsibility of the person who originated such User Content. All Content that you access by you using the Services is at your own risk and you will be solely responsible for any damage or loss to you or any other party resulting therefrom. Sometimes, you may delete or remove your User Content, either yourself or through a request made through the Site (i.e. if you mistakenly state that the parking spot really only fits a Mini Cooper and SUVs should steer clear, you could try and make things right by letting us know.) When your User Content is deleted, it will be removed from the Services, but it may persist in backup copies for a reasonable period of time (but will not following removal be shared with others).</li>
            <li><em>Notices and Restrictions. </em>You shall maintain all copyright notices, information, and restrictions contained in any Content accessed through the Services for Content provided by us, our partners or users. </li>
            <li><em>Licenses We Grant to You. </em>Sorry, for the legal mumbo jumbo, but some things need to be stated this way so that there’s no confusion as to what we and you can do.  Subject to these Terms of Service, we grant each user of the Services (including apps downloaded through third party services) a worldwide, non-exclusive, non-sublicensable and non-transferable license to use (i.e., to download and display locally or on a device) Content solely for personal purposes. Use, reproduction, modification, distribution or storage of any Content for other than personal, non-commercial use is expressly prohibited without prior written permission from us or from the copyright holder identified in such Content’s copyright notice. You shall not sell, license, rent, reverse engineer, decompile, or otherwise use or exploit any the Service, Site, any app, or Content for commercial use or in any way.</li>
            <li><em>Your Licenses to Us and Others. </em>By submitting User Content through the Services, you grant us a worldwide, non-exclusive, royalty-free, fully paid, sublicensable and transferable license to use, edit, modify, reproduce, distribute, prepare derivative works of, display, perform, and otherwise fully exploit the User Content in connection with the Site, the Services and our (and our successors’ and assigns’) businesses, including without limitation for promoting and redistributing part or all of the Site or the Services (and derivative works thereof) in any media formats and through any media channels (including, without limitation, APIs, third party websites and feeds). You also grant each user of the Site and/or the Services a non-exclusive license to access your User Content through the Site and/or the Services, and to use, edit, modify, reproduce, distribute, prepare derivative works of, display and perform such User Content. For clarity, these license grants to us and our users does not affect your other ownership or license rights in your User Content, including the right to grant additional licenses to your User Content, unless otherwise agreed in writing. You represent and warrant that you have all rights to grant such licenses to us without infringement or violation of any third party rights, including without limitation, any privacy rights, publicity rights, copyrights, contract rights, or any other intellectual property or proprietary rights.</li>
            <li><em>No Guarantees. </em>We are not responsible for anything another user posts on the Site. We can’t promise that any Content will be made through the Services and we don’t monitor the Site/Services. However, we reserve the right to (i) remove, edit or modify any Content whenever we want without notice to you for any reason (including, but not limited to, upon receipt of claims or allegations from third parties or authorities relating to such Content or if we are concerned that you may have violated these Terms of Service), or for no reason at all and (ii) to remove or block any Content from the Services.  Basically, if we think you might get us in trouble or if you’re otherwise being inappropriate, we’re going to pull your stuff down.  Remember, we are a technology platform that enables the transaction between a renter and owner. We have no control over the truth or accuracy of our users. </li>
        </ol>
    </p>
    <p>
        <em>7.	Rules of Conduct. </em>
        <ol type="a">
            <li><u>It's all up to you. </u>You're responsible for all of your activity in connection with the Services.  We are not involved with the face-to-face contact between the users. As a condition of use, you promise not to use the Services for any purpose that is prohibited by these Terms of Use. </li>
            <li><u>Please be nice.  </u>You shall not (and shall not permit any third party to) either (a) take any action or (b) upload, download, post, submit or otherwise distribute or facilitate distribution of any Content on or through the Service, including without limitation any User Content, that:</li>
            <ol type="i">
                <li>infringes any patent, trademark, trade secret, copyright, right of publicity or other right of any other person or entity or violates any law or contractual duty (see our DMCA Copyright Policy <a href="DMCA">www.parkingpanda.com/dmca</a>);</li>
                <li>you know is false, misleading, misrepresentative, untruthful or inaccurate (c’mon, be honest);</li>
                <li>is unlawful, threatening, abusive, harassing, defamatory, libelous, deceptive, fraudulent, invasive of another’s privacy, tortious, obscene, vulgar, pornographic, offensive, profane, contains or depicts nudity, contains or depicts sexual activity, or is otherwise inappropriate as determined by us in our sole discretion;</li>
                <li>constitutes unauthorized or unsolicited advertising, junk or bulk e-mail (“spamming”);</li>
                <li>contains software viruses or any other computer codes, files, or programs that are designed or intended to disrupt, damage, limit or interfere with the proper function of any software, hardware, or telecommunications equipment or to damage or obtain unauthorized access to any system, data, password or other info of ours or of any third party;</li>
                <li>impersonates any person or entity, including any of our employees or representatives; </li>
                <li>stalk, harass or otherwise annoy any other user or collect or store information about any other user other than for the purposes of completing a transaction through the Services; </li>
                <li>offer any parking space to which you do not have legal rights; </li>
                <li>includes anyone’s identification documents or sensitive financial information; or </li>
                <li>encourages or assists a third party to engage in any of the foregoing. </li>
            </ol>
            <li><u>Don’t do these things. </u>You shall not: (i) take any action that imposes or may impose (as determined by us in our sole discretion) an unreasonable or disproportionately large load on our (or our third party providers’) infrastructure; (ii) interfere or attempt to interfere with the proper working of the Services or any activities conducted on the Services; (iii) bypass, circumvent or attempt to bypass or circumvent any measures we may use to prevent or restrict access to the Services (or other accounts, computer systems or networks connected to the Services); (iv) run any form of auto-responder or “spam” on the Services; (v) use manual or automated software, devices, or other processes to “crawl” or “spider” any page of the Site; (vi) harvest or scrape any Content from the Services; (vii) otherwise take any action in violation of our guidelines and policies; or (viii) encourage or assist a third party to engage in any of the foregoing. </li>
            <li><u>Definitely don’t do these things. </u>You shall not (directly or indirectly): (i) decipher, decompile, disassemble, reverse engineer or otherwise attempt to derive any source code or underlying ideas or algorithms of any part of the Services (including without limitation any application), except to the limited extent applicable laws specifically prohibit such restriction, (ii) modify, translate, or otherwise create derivative works of any part of the Services, or (iii) copy, rent, lease, distribute, or otherwise transfer any of the rights that you receive hereunder. You shall abide by all applicable local, state, national and international laws and regulations. <i>In addition, please <u>do not</u> access our Services while you are driving! This is common sense: do not surf the web or our site while driving.</i></li>
            <li><u>Here’s what we’re going to do. </u>We also reserve the right to access, read, preserve, and disclose any info as we reasonably believe is necessary to (i) satisfy any applicable law, regulation, legal process or governmental request, (ii) enforce these Terms of Service, including investigation of potential violations hereof, (iii) detect, prevent, or otherwise address fraud, security or technical issues, (iv) respond to user support requests, or (v) protect the rights, property or safety of us, our users and the public.</li>
        </ol>
    </p>
    <p><em>8.	Third Party Services. </em>The Services acquire information from third party services, such as Facebook, Foursquare, LinkedIn, Twitter and other social networks and internet sources (<u>“Third Party Services”</u>). The Services may permit you to link to and otherwise interact with third party resources on the Internet: you do so at your own risk. The Service may allow you to post locational data and other contests and results to these Third Party Services. Once it leaves our servers, we don’t control where it might go. We don’t control these resources, and you acknowledge that we aren’t responsible or liable for the content, functions, accuracy, legality, appropriateness or any other aspect of such websites or resources. Any such use doesn’t imply our endorsement or any association between us and their operators. You further acknowledge and agree that we shall not be responsible or liable, directly or indirectly, for any damage or loss caused or alleged to be caused by or in connection with the use of or reliance on any such content, goods or services available on or through any such website or resource.</p>
    <p><em>9.	User Disputes.</em>We are not responsible for your interactions with other users. In the event of a dispute, the dispute is between the users, not us. We reserve the right, but have on obligation, to monitor disputes between users. For more information, please see our [Dispute Resolution Policy].</p>
    <p><em>10.	Refund Policy. </em>You may receive a full refund for a transaction for any reason by contacting us at least 24 hours prior to your reservation by email at <a href="mailto:support@parkingpanda.com">support@parkingpanda.com</a> or by phone at 1-800-232-6415.  Any refunds beyond this time will be evaluated in the sole discretion of Parking Panda on a case-by-case basis. </p>
    <p><em>11.	Reporting Misconduct. </em>We take customer service and user experience very seriously. We love feedback. Therefore, we encourage you to leave detailed honest feedback on other users. In the event that anything inappropriate, offensive, violative, disturbing or potentially criminal happens, you must immediately report this and the responsible party to the local police. Then, please contact us with the name of the police station, the police report number, date and time of the incident, parties involved, and any other facts at <a href="mailto:hello@parkingpanda.com">hello@parkingpanda.com</a>. Your report to us does not require us to take legal action or engage with any legal or governmental authorities on your behalf or incur any liability upon us to you.  </p>
    <p><em>12.	Termination. </em>Sorry, but we may terminate your access to all or any part of the Services at any time, with or without cause, with or without notice, effective immediately, which may result in the forfeiture and destruction of all info associated with your Account. If you wish to terminate your account, you may do so by contacting us or through the Account settings. All provisions of these Terms of Service which by their nature should survive termination shall survive termination, including, without limitation, ownership provisions, warranty disclaimers, indemnity and limitations of liability.</p>
    <p>
        <em>13.	Warranty Disclaimer.</em>
    </p>
        
        <ol type="a">
            <li>a.	We have no responsibility for your interactions with other users on the Site. You acknowledge that we have no control over, and no duty to take any action regarding: </li>
            <ol type="i">
                <li>which users gain access to the Services;</li>
                <li>the identity, veracity, background, reputation, criminal conduct, morality, or anything related to another user</li>
                <li>what Content you access via the Services;</li>
                <li>what effects the Content or Services may have on you;</li>
                <li>how you may interpret or use the Content or Services; </li>
                <li>any damage or harm resulting from the Services; </li>
                <li>what actions you may take as a result of having been exposed to the Content or Services; or</li>
                <li>any tax liability resulting from your use of the Services. </li>
            </ol>
            <li><u>Don’t blame the Panda. </u>You release us from all liability for you having acquired or not acquired Content through the Services. We make no representations concerning any Content contained in or accessed through the Services, and we aren’t responsible or liable for the accuracy, copyright compliance, legality or decency of products or parking spaces contained in, offered by or accessed through the Services. <u>Just in case it’s not clear enough: we don’t guarantee the parking spaces, the users, your user experience, the neighborhood, your safety or anything that may or may not happen to you and your car/bike/moped/scooter/name-your-own-transportation-device.</u></li>
            <li><u>Really, it’s not our problem.</u> (Just in case the above paragraph isn’t perfectly clear ….) You release us from all liability relating to your connections and relationships with other users. You understand that we don’t, in any way, screen users, nor do we inquire into the backgrounds of users or attempt to verify their backgrounds or statements. We make no representations or warranties as to the conduct of users or the veracity of any info users provide. In no event shall we be liable for any damages whatsoever, whether direct, indirect, general, special, compensatory, consequential, and/or incidental, arising out of or relating to the conduct of you or anyone else in connection with the Services, including, without limitation, bodily injury, emotional distress, and any damages resulting in any way from communications or meetings with users or persons you may otherwise meet through the Services. As such, you agree to take reasonable precautions and exercise the utmost personal care in all interactions with any individual you come into contact with through the Services, particularly if you decide to meet such individuals in person. For example, you shouldn’t, under any circumstances, provide your financial info (e.g., credit card or bank account numbers) to other individuals.</li>
            <li>d.	Important stuff, please read; that’s why it’s in all caps.  (We’re not yelling at you … really.) YOU ACKNOWLEDGE AND AGREE THAT YOU USE THE SERVICES AT YOUR OWN RISK. USE COMMON SENSE AND PRIORITIZE SAFETY. WE DO NOT COMPLETE BACKGROUND CHECKS ON USERS OR MAKE ANY REPRESENTATIONS ABOUT THE LOCATION, SAFETY, OR QUALITY OF THE USERS OR SERVICES. THE SERVICES AND CONTENT ARE PROVIDED “AS IS”, “AS AVAILABLE” AND WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF TITLE, NON-INFRINGEMENT, MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE, AND ANY WARRANTIES IMPLIED BY ANY COURSE OF PERFORMANCE OR USAGE OF TRADE, ALL OF WHICH ARE EXPRESSLY DISCLAIMED. WE, AND OUR DIRECTORS, EMPLOYEES, AGENTS, SUPPLIERS, PARTNERS AND CONTENT PROVIDERS DO NOT WARRANT THAT: (I) THE SERVICES WILL BE SECURE OR AVAILABLE AT ANY PARTICULAR TIME OR LOCATION; (II) ANY DEFECTS OR ERRORS WILL BE CORRECTED; (III) ANY CONTENT OR SOFTWARE AVAILABLE AT OR THROUGH THE SERVICES IS FREE OF VIRUSES OR OTHER HARMFUL COMPONENTS; OR (IV) THE RESULTS OF USING THE SERVICES WILL MEET YOUR REQUIREMENTS. YOUR USE OF THE SERVICES IS SOLELY AT YOUR OWN RISK. SOME STATES DO NOT ALLOW LIMITATIONS ON IMPLIED WARRANTIES, SO THE FOREGOING LIMITATIONS MAY NOT APPLY TO YOU.</li>
        </ol>
   
    <p><em>14.	What happens if you get us into trouble. </em>We hope that you never get us in trouble. If you do, here’s what we require. You shall defend, indemnify, and hold harmless us, our affiliates and each of our and their respective employees, contractors, directors, suppliers and representatives from all liabilities, claims, and expenses, including reasonable attorneys’ fees, that arise from or relate to your use or misuse of, or access to, the Services, Content, or otherwise from your User Content, violation of these Terms of Service, or infringement by you, or any third party using your account or identity in the Services, of any intellectual property or other right of any person or entity. We reserve the right to assume the exclusive defense and control of any matter otherwise subject to indemnification by you, in which event you will assist and cooperate with us in asserting any available defenses. These indemnification terms apply to any tax liability that accrues to you, too. </p>
    <p><em>15.	Our Liability. </em>IN NO EVENT SHALL WE, NOR OUR DIRECTORS, EMPLOYEES, AGENTS, PARTNERS, SUPPLIERS OR CONTENT PROVIDERS, BE LIABLE UNDER CONTRACT, TORT, STRICT LIABILITY, NEGLIGENCE OR ANY OTHER LEGAL OR EQUITABLE THEORY WITH RESPECT TO THE SERVICES (I) FOR ANY LOST PROFITS, DATA LOSS, COST OF PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES, OR SPECIAL, INDIRECT, INCIDENTAL, PUNITIVE, COMPENSATORY OR CONSEQUENTIAL DAMAGES OF ANY KIND WHATSOEVER, SUBSTITUTE GOODS OR SERVICES (HOWEVER ARISING), (II) FOR ANY BUGS, VIRUSES, TROJAN HORSES, OR THE LIKE (REGARDLESS OF THE SOURCE OF ORIGINATION), OR (III) FOR ANY DIRECT DAMAGES IN EXCESS OF (IN THE AGGREGATE) OF THE LESSER OF (1) THE AMOUNT PAID FOR THE PARKING SPACE TRANSACTION OR (2) ONE HUNDRED U.S. DOLLARS ($100.00). SOME STATES DO NOT ALLOW THE EXCLUSION OR LIMITATION OF INCIDENTAL OR CONSEQUENTIAL DAMAGES, SO THE ABOVE LIMITATIONS AND EXCLUSIONS MAY NOT APPLY TO YOU.</p>
    <p><em>16.	Things Change, So Do These Terms. </em>This thing is going to evolve over time, so we might need to change these terms. We reserve the right, in our sole discretion, to modify or replace any of these Terms of Service, or change, suspend, or discontinue the Services at any time by posting a notice on the Site (most likely) or by sending you notice through the Services, via e-mail or by another appropriate means of electronic communication. We may also impose limits on certain features and services or restrict your access to parts or all of the Services without notice or liability. It’s also your responsibility to check these Terms of Service periodically for changes. Your continued use of the Services following notice of any constitutes acceptance of the then-current Terms of Service. </p>
    <p>
        <em>17.	The Nitty Gritty. </em>(This stuff is important, but to be honest, it’s kind of dry.)
			<ol type="a">
                <li><em>Governing Law and Jurisdiction. </em>We can’t be dragged around the world for this fun little experiment, so we need to have some certainty. These Terms of Service shall be governed by and construed in accordance with the laws of the State of Maryland, including its conflicts of law rules, and the United States of America. You agree that any dispute arising from or relating to the subject matter of these Terms of Service shall be governed by the exclusive jurisdiction and venue of the state and Federal courts of Baltimore County, Maryland. </li>
                <li><em>Entire Agreement and Severability.</em>These Terms of Service are the entire agreement between you and us with respect to the Services, including use of the Site, and supersede all prior or contemporaneous communications and proposals (whether oral, written or electronic) between you and us with respect to the Services. If any provision of these Terms of Service is found to be unenforceable or invalid, that provision will be limited or eliminated to the minimum extent necessary so that these Terms of Service will otherwise remain in full force and effect and enforceable.  In other words, if the law says that these Terms of Service can’t be enforced in any way, they will be interpreted to the fullest extent possible within the bounds of the law. </li>
                <li><em>Force Majeure (French for bad stuff we can’t predict). </em>We shall not be liable for any failure to perform our obligations hereunder where such failure results from any cause beyond our reasonable control, including, without limitation, mechanical, electronic or communications failure or degradation.</li>
                <li><em>Assignment. </em>These Terms of Service are personal to you, and are not assignable, transferable or sublicensable by you except with our prior written consent. We may assign, transfer or delegate any of our rights and obligations hereunder without consent.</li>
                <li><em>Agency</em>No agency, partnership, joint venture, or employment relationship is created as a result of these Terms of Service and neither party has any authority of any kind to bind the other in any respect. </li>
                <li><em>Notices (How to get in touch with us). </em>Unless otherwise specified in these Term of Service, all notices under these Terms of Service will be in writing and will be deemed to have been duly given when received, if personally delivered or sent by certified or registered mail, return receipt requested; when receipt is electronically confirmed, if transmitted by facsimile or e-mail; or the day after it is sent, if sent for next day delivery by recognized overnight delivery service. Electronic notices should be sent to <a href="mailto:Hello@ParkingPanda.com">Hello@ParkingPanda.com</a>. </li>
                <li><em>No Waiver. </em>Any waivers we give don’t mean we will waive other stuff in the future. All waivers must be in writing through one of our authorized representatives. If either party fails to exercise any rights, this is not deemed a waiver of any further rights hereunder. </li>
                <li><em>Headings. </em>aren’t legal; just for convenience. Same goes for our lame translations of the legal stuff. </li>
                <li><em>Compliance with Law. </em>We take legal inquiries seriously and we will cooperate with local, state, federal and international governmental authorities to enforce and comply with the law. At our sole discretion, we will disclose any information necessary to comply with the law, respond to claims, and participate in the legal process (including subpoenas) to stop or prevent illegal, unethical or objectionable activity, protect public safety, or protect the property and rights of the Company. </li>
            </ol>
    </p>
    <p><em>Contact. </em>You may contact us at the following address: 1121 Marshall Street Baltimore MD, 21230</p>
    <p><em>Effective Date of Terms of Service:</em> 08/08/2011</p>
</div>
