// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.center {

     width: 6%;
     margin: 0 auto;
    
     
}
.center2 {
   
     width: 33.33%;
     margin: 0 auto;
}


