// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.center {

     width: 6%;
     margin: 0 auto;
     margin-bottom: 20px;
     
}

.center2 {
   
     width: 25%;
     margin: 0 auto;
     
}

.pp1 {
     
     padding: 30px;
     margin-bottom: 10px;
     font-size: 500%;
     text-align: center;
     font-family: "Gill Sans Extrabold", Helvetica, sans-serif;
     
}

.pp2 {
     
     font-size: 150%;
     text-align: left;
     font-family: "Gill Sans Extrabold", Helvetica, sans-serif;
     color: #797878;
     margin-bottom: 20px;
}



